.container {
    width: 95%;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 5px;
    height: 20px;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.x{
    display: flex;
    height: 15px;
    width: 15px;
    margin-left: 5px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: url('../../../utiles/eliminar.png');
    background-size: cover;
    margin-right: 10px;
    border:1px solid black;
}

@media (max-width: 500px) {

    .container {
        width: 95%;
        border: 1px solid black;
        margin-top: 5px;
        border-radius: 5px;
        height: 55px;
        display: flex;
        align-items: center;
        color: whitesmoke;
        
    }

}