
.container{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    color: #112140;
}

.buttons{
    width: 90%;
    box-shadow: 0px 10px 13px -12px #112140;
    padding-bottom: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    border: 3px solid #F2D335;
    /* background-color: rgba(242,211,53,0.5); */
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: #112140;
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons input {
    border: 0px solid black;
    border-bottom: 1px solid #112140;
    background: whitesmoke;
    width: 250px;
}

.buttons button:hover{
    background-color:#F2D335;
    color:#112140;
}

.todos {
    width: 100%;
    height: 350px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.new {
    width:90% ;
    height: 30px;
    background-color: rgba(242,211,53,0.6);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.new:hover{
    background-color: rgba(242,211,53,1);
}

.contPag{
    margin-top: 20px;
    display: flex;
}

.contPag button{
    margin:0px 10px 0px 10px;
    border:1px solid black;
    border-radius: 5px;
    background-color: #112140;
    color: white;
}

@media (max-width: 720px) {
    .new {
        width:100% ;
        height: 30px;
        background-color: rgba(242,211,53,0.6);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .container{
        width: 90%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        color: #112140
    }
  }